src/main/mule/template.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:http-policy="http://www.mulesoft.org/schema/mule/http-policy" xmlns:http-transform="http://www.mulesoft.org/schema/mule/http-policy-transform"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core
http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http
http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/http-policy
http://www.mulesoft.org/schema/mule/http-policy/current/mule-http-policy.xsd
http://www.mulesoft.org/schema/mule/http-policy-transform
http://www.mulesoft.org/schema/mule/http-policy-transform/current/mule-http-policy-transform.xsd
http://www.mulesoft.org/schema/mule/os
http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <!-- Object Store configuration -->
    <os:object-store name="cbstore" persistent="true" entryTtl="1" entryTtlUnit="HOURS" />

    <http-policy:proxy name="{{{policyId}}}-custom-policy">
        <http-policy:source>
            <try>
                <!-- Checking Cache for OPEN| HALF-OPEN stored value -->
                <os:retrieve key="${apiId}" target="circuit"  objectStore="cbstore" />
                <error-handler>
                    <on-error-continue type="OS:KEY_NOT_FOUND" logException="true" >
                        <logger message="Circuit is CLOSED. Continue processing. Before execution" level="DEBUG" category="com.mule.policies.circuitbreaker" />
                    </on-error-continue>
                </error-handler>
            </try>
            <choice>
                <!--  Condition to allow the application call  -->
                <when expression="#[((sizeOf(vars.circuit default '') == 0) or ((vars.circuit.timestamp default 0) + (&quot;PT$(vars.circuit.retryPeriod default 0)S&quot; as Period) &lt; now())) or ((vars.circuit.errorCount default 0) &lt;= {{{failureThreshold}}})]">
                    <try>
                        <logger message="Before calling app" />
                        <http-policy:execute-next />
                        <logger message="circuitVar #[vars.circuit]" level="DEBUG" category="com.mule.policies.circuitbreaker"/>
                        <choice>
                            <when expression="#[vars.circuit == null]">
                                <logger message="Api doesn't exist in circuitBreaker, no further action required" level="DEBUG" category="com.mule.policies.circuitbreaker"></logger>
                            </when>
                            <otherwise>
                                <logger message="Execution was successfull, Removing circuit appId " level="DEBUG" category="com.mule.policies.circuitbreaker"></logger>
                                <os:remove key="${apiId}" objectStore="cbstore"  />
                            </otherwise>
                        </choice>
                        <logger message="After calling app" />
                        <error-handler>
                            <on-error-propagate type="ANY" logException="true">
                                <flow-ref name="logger-flow" />
                                <choice>
                                    <when expression="#[%dw 2.0 output application/json var exceptionsArray=(({{{exceptionsArray}}} replace ' ' with '') splitBy  ',') as Array --- (exceptionsArray contains (error.errorType.namespace ++ ':' ++ error.errorType.identifier) ) or ( (sizeOf(exceptionsArray) == 1) and (exceptionsArray contains 'ANY'))]">
                                        <!-- Trip the Circuit -->
                                        <set-variable value='#[%dw 2.0
                                          output application/json
                                          var state = if((vars.circuit.errorCount default 0) &lt; {{{failureThreshold}}}) "CLOSED" else if ((vars.circuit.errorCount default 0) &gt; {{{failureThreshold}}}) "HALF-OPEN" else "OPEN"
                                          ---
                                          {
                                            "failureThreshold": {{{failureThreshold}}},
                                            "retryPeriod": {{{retryPeriod}}},
                                            "state": state,
                                            "timestamp": now(),
                                            "errorCount": ((vars.circuit.errorCount default 0) + 1)
                                           }]'
                                                      variableName="circuit" />
                                        <os:store key="${apiId}" objectStore="cbstore">
                                            <os:value>
                                                #[vars.circuit]
                                            </os:value>
                                        </os:store>
                                        <http-transform:set-response statusCode="503">
                                            <http-transform:body>#[%dw 2.0 output application/json --- "circuitBreaker": vars.circuit ++ "error": "$(error.description)"]</http-transform:body>
                                        </http-transform:set-response>
                                    </when>
                                    <otherwise>
                                        <logger message="Exception not included in the Exceptions Array" level="INFO" category="com.mule.policies.circuitbreaker" />
                                        <http-transform:set-response statusCode="500">
                                            <http-transform:body>#[%dw 2.0 output application/json --- error.description]</http-transform:body>
                                        </http-transform:set-response>
                                    </otherwise>
                                </choice>
                            </on-error-propagate>
                            <on-error-continue type="OS:KEY_NOT_FOUND" logException="true">
                                <logger message="Circuit is CLOSED. Continue processing."  level="DEBUG" category="com.mule.policies.circuitbreaker"/>
                            </on-error-continue>
                        </error-handler>
                    </try>
                </when>
                <otherwise>
                    <http-transform:set-response statusCode="503">
                        <http-transform:body>#[%dw 2.0 output application/json --- "circuitBreaker": vars.circuit ++ "error": "The circuit is still open, not propagating new requests until "
                            ++ vars.circuit.timestamp + ("PT$(vars.circuit.retryPeriod)S" as Period)]</http-transform:body>
                    </http-transform:set-response>
                </otherwise>
            </choice>
        </http-policy:source>
    </http-policy:proxy>

    <flow name="logger-flow">
        <logger level="ERROR" message="#[%dw 2.0 output application/json --- errorMessage:  (error.errorType.namespace ++ ':' ++ error.errorType.identifier)]" category="com.mule.policies.circuitbreaker" />
    </flow>
</mule>